body {
  width: 230px;
}

#generatorButton {
  margin: 0 0 8px 0;
}

#withDots {
  margin: 0 0 8px 0;
}

.documento {
  font-style: italic;
  font-weight: bold;
}

#copyright a {
  text-decoration: none;
  color: #F15574;
}

#version {
  font-weight: bold;
}

#toCopy{
  border: none;
  color: white;
  resize: none;
  overflow: auto;
  border: 0px;
  outline: 0px;
  background-color: transparent;
}

#msgOk {
  display: none;
  color: green;
  margin-top: 15px;
}

i {
  margin-left: 5px;
  font-size: 15px;
  cursor: copy;
}
